{{!-- Main title slide --}}
<section class="section-title" data-background="{{ theme.mainColor }}" data-transition="{{ theme.specialTransition }}">
	<h2>{{ title }}</h2>
	<h3>{{ subtitle }}</h3>
	<a href="https://rawgit.com/uniqname/componentized-architecture-presentation/master/dist/index.html#/"><img src="http://qrfree.kaywa.com/?l=1&s=8&d=https%3A%2F%2Frawgit.com%2Funiqname%2Fcomponentized-architecture-presentation%2Fmaster%2Fdist%2Findex.html%23%2F" alt="QRCode"/></a>
</section>

{{!-- About the author --}}
<section>
	<img class="constrain-width" src="{{ githubData.avatar_url }}" alt="{{ githubData.name }}'s avatar'" />
	<h2>{{{ greetingText }}}</h2>
	<p>{{ githubData.name }}</p>
	<p><a href="{{ githubData.html_url }}">@{{ githubData.login }}</a>
</section>

{{!-- Presentation outline --}}
<section>
	<h2>Presentation Overview</h2>
	<ul>
		{{#each sections }}
			<li class="fragment">{{ title }}</li>
		{{/each }}
	</ul>
</section>
